### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
HELP.md
application-*.properties
application-*.yml
*.db
*.sql
.env
*.env

### Logs ###
logs/
*.log
*.out
*.err

### STS / Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS pliki ###
.DS_Store
Thumbs.db

### Testy ###
/test-output/
surefire-reports/
