<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar mb-4">
        <div class="container">

            <a class="navbar-brand" th:href="@{/}">
                KickBet
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <span class="nav-link">Witaj, <span sec:authentication="name">Użytkownik</span></span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Strona główna</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/matches}">Lista meczy</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/my-bets}">Moje zakłady</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ranking}">Ranking</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" >Mój profil</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/matches}">Panel admina</a>
                    </li>
                   
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Logowanie</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/register}">Rejestracja</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>

